@tailwind base;
@tailwind components;
@tailwind utilities;

.editable {
  background-color: #e4fcd4 !important;
}
.wj-state-selected {
  background-color: #0085c7 !important;
  color: #fff !important;
}

.wj-state-multi-selected {
  background-color: #80adbf !important;
  color: #fff !important;
}

.wj-header {
  background-color: #eee !important;
}
